*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: PokemonGBA;
}

:root {
  --pokedex-red: #df4b43;
  --red: lightcoral;
  --red-darker: rgb(235, 95, 95);

  --blue: lightblue;
  --blue-darker: rgb(136, 209, 233);

  --green: lightgreen;
  --green-darker: rgb(114, 240, 114);

  --normal: #a8a77b;
  --fire: #ef7e3b;
  --water: #6893ec;
  --grass: #7ac75a;
  --electric: #f8ce47;
  --ice: #99d8d8;
  --fighting: #bf2f2c;
  --poison: #9f439d;
  --ground: #e0bf6f;
  --flying: #a793ec;
  --psychic: #f65887;
  --bug: #a9b637;
  --rock: #b89f43;
  --ghost: #6f5a96;
  --dark: #705849;
  --dragon: #6f43f3;
  --steel: #b8b8cf;
  --fairy: #efb6bc;
}

.bg_normal {
  background: var(--normal);
}
.bg_fire {
  background: var(--red);
}
.bg_water {
  background: var(--blue);
}
.bg_grass {
  background: var(--green);
}
.bg_electric {
  background: var(--electric);
}
.bg_ice {
  background: var(--ice);
}
.bg_fighting {
  background: var(--fighting);
}
.bg_poison {
  background: var(--poison);
}
.bg_ground {
  background: var(--ground);
}
.bg_flying {
  background: var(--flying);
}
.bg_psychic {
  background: var(--psychic);
}
.bg_bug {
  background: var(--bug);
}
.bg_rock {
  background: var(--rock);
}
.bg_ghost {
  background: var(--ghost);
}
.bg_dark {
  background: var(--dark);
}
.bg_dragon {
  background: var(--dragon);
}
.bg_steel {
  background: var(--steel);
}
.bg_fairy {
  background: var(--fairy);
}

a {
  all: unset;
}
