*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: PokemonGBA;
}

:root {
  --pokedex-red: #df4b43;
  --blue: #528efb;

  --normal: #a8a77b;
  --fire: #ef7e3b;
  --water: #6893ec;
  --grass: #7ac75a;
  --electric: #f8ce47;
  --ice: #99d8d8;
  --fighting: #bf2f2c;
  --poison: #9f439d;
  --ground: #e0bf6f;
  --flying: #a793ec;
  --psychic: #f65887;
  --bug: #a9b637;
  --rock: #b89f43;
  --ghost: #6f5a96;
  --dark: #705849;
  --dragon: #6f43f3;
  --steel: #b8b8cf;
  --fairy: #efb6bc;
}

.bg_normal {
  background: var(--normal);
}
.bg_fire {
  background: var(--fire);
}
.bg_water {
  background: var(--water);
}
.bg_grass {
  background: var(--grass);
}
.bg_electric {
  background: var(--electric);
}
.bg_ice {
  background: var(--ice);
}
.bg_fighting {
  background: var(--fighting);
}
.bg_poison {
  background: var(--poison);
}
.bg_ground {
  background: var(--ground);
}
.bg_flying {
  background: var(--flying);
}
.bg_psychic {
  background: var(--psychic);
}
.bg_bug {
  background: var(--bug);
}
.bg_rock {
  background: var(--rock);
}
.bg_ghost {
  background: var(--ghost);
}
.bg_dark {
  background: var(--dark);
}
.bg_dragon {
  background: var(--dragon);
}
.bg_steel {
  background: var(--steel);
}
.bg_fairy {
  background: var(--fairy);
}

a {
  all: unset;
}

body {
  background: var(--pokedex-red);
}

body::-webkit-scrollbar {
  width: 2rem;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  width: 200px;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--blue);
  border: 2px solid white;
  width: 200px;
}

button {
  cursor: pointer;
}

hr {
  height: 1px;
  border: 0;
  background: rgba(0, 0, 0.5);
}
