.evolution_chain_list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  overflow-x: auto;
}

.evolution_chain_list > * {
  margin-right: var(--space-base);
}

.evolution_chain_item {
  display: inline-block;
  border: 2px solid black;
  border-radius: 100%;
}
