.evolution_chain_list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  overflow-x: auto;
}

.evolution_chain_list > * {
  margin-right: var(--space-base);
}

.evolution_chain_item {
  display: inline-block;

  text-align: center;
}

.eci_img {
  border: 2px solid black;
  border-radius: 100%;
}

.eci_name {
  text-transform: capitalize;
}

.arrow {
  text-align: center;
  align-self: center;
  font-size: 1.5em;
}
