.list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list > * {
  margin-bottom: var(--space-base) !important;
  width: 100%;
}

.list a {
  text-decoration: none;
  color: inherit;
}
