<<<<<<< HEAD
.list-item {
  position: relative;

  display: grid;
  grid-template-areas:
    "sprite"
    "name"
    "types";

  text-align: center;

=======
/* .list-item {
>>>>>>> StashedChanged
  min-height: 160px;
  width: 100%;

  border: 2px solid black;
  border-radius: 15px;

  padding: var(--space-base);

  overflow: hidden;
  cursor: pointer;

  transition: transform 250ms;
} */

.list-item {
  min-height: 160px;
  border: 2px solid black;
  border-radius: 1rem;
  padding: var(--space-base);
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: transform 250ms ease-in-out;

  display: grid;
  grid-template-areas:
    "name id"
    "types thumb";
}

.list-item:hover,
.list-item:active {
  transform: scale(1.05);
}

.list-item .name {
  grid-area: name;

  font-weight: bolder;
  text-transform: capitalize;
  grid-area: name;
}

.list-item .id {
  grid-area: id;

  text-align: right;
  color: rgba(0, 0, 0, 0.4);
<<<<<<< HEAD

  position: absolute;
  top: 0;
  right: 0;
  padding: var(--space-base);
=======
  grid-area: id;
>>>>>>> StashedChanged
}

.list-item .types {
  grid-area: types;
}

.list-item .types .type {
  text-transform: capitalize;
  border-radius: var(--border-radius-soft);
  background: rgba(255, 255, 255, 0.4);
  padding: 0.35em 0.35em;
}

.list-item .types > * {
  margin-top: var(--space-s);
}

.list-item .sprite {
  grid-area: sprite;
}

.background-image {
  position: absolute;
  opacity: 0.1;

  bottom: 0;
  right: 0;

  overflow: hidden;

  transform: translate(25%, 35%);
  grid-area: thumb;
}

@media (max-width: 480px) {
  .list-item {
    grid-template-areas:
      "name id"
      "types sprite";

    grid-template-columns: 50%;

    text-align: left;
  }

  .list-item .id {
    position: relative;
  }

  .list-item .sprite {
    justify-self: end;
  }
}

/* MOBILE CSS */
@media (max-width: 480px) {
}
