.list-item {
  border: 2px solid black;
  border-radius: 15px;
  padding: var(--space-base);
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: transform 250ms;
}

.list-item:hover {
  transform: scale(1.05);
}

.list-item .header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.list-item .type {
  text-transform: capitalize;
}

.header .name {
  font-weight: bolder;
}

.header .id {
  color: rgba(0, 0, 0, 0.4);
}

.body {
  display: grid;
  grid-template-areas: "types sprite";
  grid-template-columns: 50% auto;
}

.background-image {
  position: absolute;
  opacity: 0.1;

  bottom: 0;
  right: 0;

  overflow: hidden;

  transform: translate(25%, 35%);
}

.back .body .types {
  grid-area: types;
  display: flex;
  flex-direction: column-reverse;
}

.body .sprite {
  grid-area: sprite;
  justify-self: end;
}

.types > * {
  margin-top: var(--space-s);
}

.types .type {
  border-radius: var(--border-radius-soft);
  background: rgba(255, 255, 255, 0.4);
  padding: 0.35em 0.35em;
}
